## function to set terminal title for bash or zsh
function set_terminal_title() {                                                                                                                                
  echo -en "\e]2;$@\a"                                                                                                                                         
}

## functions to manage git prompt
function parse_git_dirty {
  [[ $(git status --porcelain 2> /dev/null) ]] && echo "*"
}
function parse_git_branch {
  git branch --no-color 2> /dev/null | sed -e '/^[^*]/d' -e "s/* \(.*\)/ (\1$(parse_git_dirty))/"
}