{{ $cluster := (ds "config").k8s_cluster -}}
{{ $flux := (ds "config").flux -}}
{{ $infra := (ds "config").infra -}}
{{ $services := (ds "config").services -}}
{{ $apps := (ds "config").apps -}}
{{ $nutanix := $infra.nutanix -}}
kind: Secret
apiVersion: v1
metadata:
  name: cluster-secrets
stringData:
  github_repo_url: {{with $flux.github.repo_url | quote | required }}{{.}}{{end}}
  github_user: {{with $flux.github.repo_user | quote | required }}{{.}}{{end}}
  github_api_token: {{with $flux.github.repo_api_token | quote | required }}{{.}}{{end}}
  docker_hub_user: {{with $cluster.registry.docker_hub.user | quote | required }}{{.}}{{end}}
  docker_hub_password: {{with $cluster.registry.docker_hub.password | quote | required }}{{.}}{{end}}
{{- if $nutanix.prism_central.enabled }}
  prism_central_endpoint: {{with $nutanix.prism_central.endpoint | quote | required }}{{.}}{{end}}
  prism_central_user: {{with $nutanix.prism_central.user | quote | required }}{{.}}{{end}}
  prism_central_password: {{with $nutanix.prism_central.password | quote | required }}{{.}}{{end}}
{{- if $nutanix.objects.enabled }}
  objects_host: {{with $nutanix.objects.host | quote | required }}{{.}}{{end}}
  objects_port: {{with $nutanix.objects.port | quote | default 80 }}{{.}}{{end}}
  objects_region: {{with $nutanix.objects.region | quote | required }}{{.}}{{end}}
  objects_use_ssl: {{with $nutanix.objects.use_ssl | quote | default false }}{{.}}{{end}}
  objects_access_key: {{with $nutanix.objects.access_key | quote | required }}{{.}}{{end}}
  objects_secret_key: {{with $nutanix.objects.secret_key | quote | required }}{{.}}{{end}}
{{- end }}
{{- end }}
{{- if $services.kube_vip.enabled }}  
  kube_vip_ipam_range: {{with $services.kube_vip.ipam_range | quote | required }}{{.}}{{end}}
{{- if $services.nginx_ingress.enabled }}
  kube_vip_nginx_ingress_ipam: {{with $services.nginx_ingress.vip | required }}"{{.}}/32"{{end}}
  wildcard_ingress_subdomain: {{with $services.nginx_ingress.wildcard_ingress_subdomain | quote | required }}{{.}}{{end}}
  management_cluster_ingress_subdomain: {{with $services.nginx_ingress.management_cluster_ingress_subdomain | quote | required }}{{.}}{{end}}
{{- end }}
{{- if $services.istio.enabled }}
  kube_vip_istio_system_ipam: {{with $services.istio.vip | required }}"{{.}}/32"{{end}}
  istio_vip: {{with $services.istio.vip | quote | required }}{{.}}{{end}}
  istio_wildcard_ingress_subdomain: {{with $services.istio.wildcard_ingress_subdomain | quote | required }}{{.}}{{end}}
{{- end }}
{{- end }}
{{- if $services.cert_manager.enabled }}
{{- if $services.cert_manager.aws_route53_acme_dns.enabled }}
  aws_route53_email: {{with $services.cert_manager.aws_route53_acme_dns.email | quote | required }}{{.}}{{end}}
  aws_route53_dns_zone: {{with $services.cert_manager.aws_route53_acme_dns.zone | quote | required }}{{.}}{{end}}
  aws_route53_region: {{with $services.cert_manager.aws_route53_acme_dns.region | quote | required }}{{.}}{{end}}
  aws_route53_hosted_zone_id: {{with $services.cert_manager.aws_route53_acme_dns.hosted_zone_id | quote | required }}{{.}}{{end}}
  aws_route53_key_id: {{with $services.cert_manager.aws_route53_acme_dns.key_id | quote | required }}{{.}}{{end}}
  aws_route53_key_secret: {{with $services.cert_manager.aws_route53_acme_dns.key_secret | quote | required }}{{.}}{{end}}
{{- end }}
{{- end }}
{{- if $services.jupyterhub.enabled }}
  jupyterhub_default_pass: {{with $services.jupyterhub.default_password | quote | required }}{{.}}{{end}}
{{- end }}
{{- if $services.weave_gitops.enabled }}
  weave_gitops_default_pass: {{with htpasswd "-nbB" "admin" $services.weave_gitops.default_password | strings.TrimPrefix "admin:" | strings.TrimSpace | quote | required }}{{.}}{{end}}
{{- end }}
{{- if $apps.nai_helm.enabled }}
{{- if $apps.nai_helm.useExistingNFS }}
  nfs_export: {{with $apps.nai_helm.nfs_export | quote | required }}{{.}}{{end}}
  nfs_server: {{with $apps.nai_helm.nfs_server | quote | required }}{{.}}{{end}}
{{- end }}
{{- if not $apps.nai_helm.useExistingNFS }}
  huggingFaceToken: {{with $apps.nai_helm.huggingFaceToken | quote | required }}{{.}}{{end}}
{{- end }}
{{- end }}