{{ $cluster := (ds "config").k8s_cluster -}}
{{ $flux := (ds "config").flux -}}
{{ $infra := (ds "config").infra -}}
{{ $services := (ds "config").services -}}
{{ $apps := (ds "config").apps -}}
{{ $nutanix := $infra.nutanix -}}
kind: Secret
apiVersion: v1
metadata:
  name: cluster-secrets
stringData:
  github_repo_url: "{{with $flux.github.repo_url | required }}{{.}}{{end}}"
  github_user: "{{with $flux.github.repo_user | required }}{{.}}{{end}}"
  github_api_token: "{{with $flux.github.repo_api_token | required }}{{.}}{{end}}"
  docker_hub_user: "{{with $cluster.registry.docker_hub.user | required }}{{.}}{{end}}"
  docker_hub_password: "{{with $cluster.registry.docker_hub.password | required }}{{.}}{{end}}"
{{- if $nutanix.prism_central.enabled }}
  prism_central_endpoint: "{{with $nutanix.prism_central.endpoint | required }}{{.}}{{end}}"
  prism_central_user: "{{with $nutanix.prism_central.user | required }}{{.}}{{end}}"
  prism_central_password: "{{with $nutanix.prism_central.password | required }}{{.}}{{end}}"
{{- if $nutanix.objects.enabled }}
  objects_host: "{{with $nutanix.objects.host | required }}{{.}}{{end}}"
  objects_port: "{{with $nutanix.objects.port | default "80" }}{{.}}{{end}}"
  objects_region: "{{with $nutanix.objects.region | default "us-east-1" }}{{.}}{{end}}"
  objects_use_ssl: "{{with $nutanix.objects.use_ssl | default "false" }}{{.}}{{end}}"
  objects_access_key: "{{with $nutanix.objects.access_key | required }}{{.}}{{end}}"
  objects_secret_key: "{{with $nutanix.objects.secret_key | required }}{{.}}{{end}}"
{{- end }}
{{- end }}
{{- if $services.kube_vip.enabled }}  
  kube_vip_ipam_range: "{{with $services.kube_vip.ipam_range | required }}{{.}}{{end}}"
{{- if $services.nginx_ingress.enabled }}
  kube_vip_nginx_ingress_ipam: "{{with $services.nginx_ingress.vip | required }}{{.}}/32{{end}}"
  wildcard_ingress_subdomain: "{{with $services.nginx_ingress.wildcard_ingress_subdomain | required }}{{.}}{{end}}"
  management_cluster_ingress_subdomain: "{{with $services.nginx_ingress.management_cluster_ingress_subdomain | required }}{{.}}{{end}}"
{{- end }}
{{- if $services.istio.enabled }}
  kube_vip_istio_system_ipam: "{{with $services.istio.vip | required }}{{.}}/32{{end}}"
  istio_wildcard_ingress_subdomain: "{{with $services.istio.wildcard_ingress_subdomain | required }}{{.}}{{end}}"
{{- end }}
{{- end }}
{{- if $services.cert_manager.enabled }}
{{- if $services.cert_manager.aws_route53_acme_dns.enabled }}
  aws_route53_email: "{{with $services.cert_manager.aws_route53_acme_dns.email | default "admin@no-reply.com" }}{{.}}{{end}}"
  aws_route53_dns_zone: "{{with $services.cert_manager.aws_route53_acme_dns.zone | required }}{{.}}{{end}}"
  aws_route53_region: "{{with $services.cert_manager.aws_route53_acme_dns.region | required }}{{.}}{{end}}"
  aws_route53_hosted_zone_id: "{{with $services.cert_manager.aws_route53_acme_dns.hosted_zone_id | required }}{{.}}{{end}}"
  aws_route53_key_id: "{{with $services.cert_manager.aws_route53_acme_dns.key_id | required }}{{.}}{{end}}"
  aws_route53_key_secret: "{{with $services.cert_manager.aws_route53_acme_dns.key_secret | required }}{{.}}{{end}}"
{{- end }}
{{- end }}
{{- if $apps.nai_helm.enabled }}
{{- if $apps.nai_helm.useExistingNFS }}
  nfs_export: "{{with $apps.nai_helm.nfs_export | required }}{{.}}{{end}}"
  nfs_server: "{{with $apps.nai_helm.nfs_server | required }}{{.}}{{end}}"
  huggingFaceToken: "{{with $apps.nai_helm.huggingFaceToken | required }}{{.}}{{end}}"
{{- end }}
{{- end }}