{{ $cluster := (ds "config").k8s_cluster -}}
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flux-system
components:
- ../../_profiles/{{ $cluster.profile | required }}/{{ $cluster.environment | required }}
resources:
- cluster-secrets.sops.yaml
- cluster-configs.yaml
