apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  annotations:
    kustomize.toolkit.fluxcd.io/force: disabled

resources:
- https://github.com/knative-sandbox/eventing-kafka-broker/releases/download/knative-v1.10.1/eventing-kafka-controller.yaml
- https://github.com/knative-sandbox/eventing-kafka-broker/releases/download/knative-v1.10.1/eventing-kafka-source.yaml
