kind: ConfigMap
apiVersion: v1
metadata:
  name: cluster-configs
data:
  ## kube-vip ip range should have min. 6 addresses
  kube_vip_ipam_range: "required_config"
  gpu_cuda_toolkit_version: "v1.14.3-centos7"
  gpu_time_slicing_replica_count: "4"
  objects_host: "required_config"
  objects_port: "80"
  objects_bucket_name: "milvus"
  objects_region: "us-east-1"
  objects_use_ssl: "false"
  ingress_subdomain: "required_config"