kind: Secret
apiVersion: v1
metadata:
  name: cluster-secrets
stringData:
  prism_central_endpoint: "required_secret"
  prism_central_user: "admin"
  prism_central_password: "required_secret"
  prism_element_user: "admin"
  prism_element_password: "required_secret"
  github_repo_url: "https://github.com/jesse-gonzalez/gitops-nai-llm.git"
  github_user: "required_secret"
  github_api_token: "required_api_key"
  github_app_id: "optional_secret"
  github_app_installation_id: "optional_secret"
  objects_access_key: "required_api_key"
  objects_secret_key: "required_api_key"
  docker_hub_user: "required_api_key"
  docker_hub_password: "required_api_key"