apiVersion: v1
kind: Namespace
metadata:
  name: ingress-nginx
  labels:
    toolkit.fluxcd.io/tenant: platform-team
---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: ingress-nginx
  namespace: flux-system
spec:
  interval: 4h
  url: https://kubernetes.github.io/ingress-nginx
---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: flux-system
spec:
  targetNamespace: ${namespace_name:=ingress-nginx}
  chart:
    spec:
      chart: ingress-nginx
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
      version: ${chart_version:=4.8.3}
  interval: 30m
  values:
    controller:
      ingressClassResource:
        name: nginx
        default: true
      replicaCount: 2
      minAvailable: 1
      service:
        type: "LoadBalancer"
