apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ingress-nginx
  namespace: flux-system
spec:
  postBuild:
    substitute:
      chart_version: "4.8.3"
  components:
  #- ../enable-loadbalancer
  - ../enable-opentelemetry
  - ../enable-tcp-services
  - ../enable-autoscaling
