name: workstation-builds


on:
  workflow_dispatch:
  push:
    branches: [ '*' ]
    tags-ignore: [ '*' ]
    paths:
    - '.github/workflows/workstation.yml'
    - '.taskfiles/workstation.yaml'
    - 'scripts/**/*'
  pull_request:
    branches: ["main"]
    paths:
    - '.github/workflows/workstation.yml'
    - '.taskfiles/workstation.yaml'
    - 'scripts/**/*'

permissions:
  contents: read
  packages: write

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: false

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        #os: [windows-latest, ubuntu-latest, macOS-latest]
        os: [ubuntu-20.04, ubuntu-22.04, macos-12, macos-13, macos-14]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Task
      uses: arduino/setup-task@v2
      with:
        version: 3.x
        repo-token: ${{ secrets.GITHUB_TOKEN }}
      
    - name: Run Workstation Deployment Minimal Defaults
      run: task workstation:install-packages --yes

    - name: Run Workstation Deployment for Platform Engineering Role
      run: task workstation:install-packages --yes USER_ROLE="devops-role"

    - name: Run Bootstrap all Packages available for Bastion Host
      run: task workstation:install-packages --yes USER_ROLE="devops-role"
